[data-code-preview] .line-number::before {
  content: attr(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1.5rem;
  text-align: right;
  color: var(--syntax-muted);
  user-select: none;
}
[data-code-preview]
  :is(.token.comment, .token.prolog, .token.doctype, .token.cdata) {
  color: var(--syntax-comment);
}
[data-code-preview] :is(.token.keyword, .token.atrule, .token.important) {
  color: var(--syntax-keyword);
}
[data-code-preview]
  :is(.token.string, .token.char, .token.attr-value, .token.inserted) {
  color: var(--syntax-string);
}
[data-code-preview]
  :is(.token.function, .token.tag, .token.property, .token.selector) {
  color: var(--syntax-function);
}
[data-code-preview] :is(.token.class-name, .token.builtin, .token.namespace) {
  color: var(--syntax-class);
}
[data-code-preview]
  :is(.token.number, .token.boolean, .token.constant, .token.deleted) {
  color: var(--syntax-number);
}
[data-code-preview] :is(.token.operator, .token.punctuation) {
  color: var(--syntax-operator);
}
[data-code-preview] :is(.token.regex, .token.entity, .token.symbol) {
  color: var(--syntax-regex);
}
